
.categoryCard {
  display: block;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
}

.categoryCard:hover {
  border-color: #d1d5db;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.categoryTitle {
  text-transform: capitalize;
  font-size: 1.125rem;
  font-weight: 600;
  color: #111827;
  margin: 0;
}
