
.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.loadingSpinner {
  height: 3rem;
  width: 3rem;
  border-radius: 9999px;
  border: 2px solid transparent;
  border-top: 2px solid #111827;
  border-right: 2px solid #111827;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
